.table thead,
.table tfoot {
  background-color: black;
}
.table thead td,
.table thead th,
.table tfoot td,
.table tfoot th {
  color:white;
}
.table.is-striped tbody tr:not(.is-selected):nth-child(even) {
  background-color: #a19f9f;
}